*{
  margin:0;
  padding:0;
}
body, p{
   margin:0;
   padding:0;
}

div.jMyPuzzle{
	display:block;
	border:1px solid blue;
	margin:auto;
	height:200px;
}

ul{
	display:block;
	position:absolute;
	margin-top:30px;
	width:100%; 	/* Do not remove */
}

ul li{
	display:block;
	float:left;
	font-size:1.6em;
	font-weight:bold;
	color:white;
	padding:4px;
	margin:2px;
	background-color:#031fc6;
	border:2px solid #02168c;
	cursor:pointer;
}

input.button{
	border:1px solid #aaa;
	color:#555;
	cursor:pointer;
}
input.button:hover{
	border:1px solid #333;
	color:#000;
}

input.button#reset{
	float:right;
	margin-right:20px;
	margin-top:100px;
	background:transparent url('img/lightning.png') 5% center no-repeat; 
	padding:3px 3px 3px 40px;
	width:120px;
	font-size:1.2em;
}

input.button#check{
	float:right;
	margin-right:20px;
	margin-top:100px;
	background:transparent url('img/check.png') 5% center no-repeat;
	padding:3px 3px 3px 40px;
	width:120px;
	font-size:1.2em;
}

#trials{
	font-weight:bold;
	font-size:1.3em;
	border-bottom:1px solid blue;
	margin-bottom:10px;
	text-align:right;
}

.normal{
	background-color:#031fc6;
}

.notValid{
	background-color:#fb0b1c;
}

.miValid{
	background-color:#fdb222;
}

.valid{
	background-color:#41CA05;
}
